#WC_SingleShipmentOrderTotalsSummary_td_Custom_5,
#newCheckoutShowGiftMessageArea,
.brand-container,
#newCheckoutGiftMessageArea {visibility: visible;}
#ship_giftWrapped,
#giftMessageTo,
#giftMessageFrom,
#newCheckoutShowGiftMessageArea .col,
#newCheckoutShowGiftMessageArea .clear,
#order_details .wrap,
#theGiftMessage label,
.giftMessageMessage .left {display: none;}
#theGiftMessage label  {display: none !important;}
.sd-delivery .wrap {display: block !important}
.hide-button {pointer-events: none; opacity: .6;}
#newCheckoutShowGiftMessageArea {border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0px;}
#cart-body #total-breakdown #promotions { margin-bottom: 20px; }
.exp-non-qualify {clear: both; padding: 0px 20px 20px 35px; font-size: 13px !important; color: #E74C3C;}
p.paypal-sameday {text-transform: none !important; font-size: 13px !important; padding-bottom: 10px;}
.see-details {text-decoration: underline; cursor: pointer; margin-left: 22px;}
#cart-body #cart-left .cart-form .product .wrap {width: 300px !important; margin-bottom: 5px !important; position: relative; left: -115px !important;}
#cart-body #cart-left .cart-form .sd-delivery .product .wrap label {display: block !important;}
#cart-body #cart-left .cart-form .product .wrap label {margin-bottom: 0px !important; font-family: 'brandon_regular', Helvetica, Arial, sans-serif !important; font-size: 12px !important; font-weight: normal !important;}
#cart-body #cart-left .cart-form .product .wrap label span {font-family: 'brandon_bold', Helvetica, Arial, sans-serif; font-size: 12px !important;}
#cart-body .wrap .tooltipContent {font-family: 'brandon_medium', Helvetica, Arial, sans-serif;  font-size: 12px; text-transform: none !important;  font-weight: normal; font-style: normal;  display: none; position: absolute; bottom: 20px; background-color: #111; color: #FFF; padding: 20px; width: 455px; left: -30px;  z-index: 50; text-indent: 0;}
#cart-body .wrap .tooltipContent a {color: #fff; text-decoration: underline;}
#cart-body .wrap .tooltipContent .arrow { position: absolute; bottom: -6px; left: 75px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #111;}
#cart-body .wrap .tooltipContent .close-tool {position: absolute; padding: 7px; top: 0px; right: 0px; cursor: pointer}
.giftMessageText {font-family: 'brandon_regular', Helvetica, Arial, sans-serif !important; text-transform: none !important; font-size: 12px !important; font-weight: normal !important;}
.ship-edit {text-align: right; text-transform: uppercase; font-family: 'brandon_regular', Helvetica, Arial, sans-serif !important; text-decoration: underline; margin-top: 10px; display: block;}
.ship-edit-container {width: 100%;}
.same-day-method {font-family: 'brandon_medium', Helvetica, Arial, sans-serif !important; padding-top: 5px; font-size: 15px !important; font-weight: normal !important;}
.same-day-method span {font-family: 'brandon_regular', Helvetica, Arial, sans-serif !important;}
.same-day-method .ship-edit {text-align: left; font-size: 12px; display: inline-block; margin-top: 0px; padding-left: 5px;}
.zip-sameday-error {padding-top: 5px;}
.required {color: #E74C3C;}
.row.sd-delivery {padding-bottom: 10px;}

input.is-checked+label.no-span {background: transparent url(/wcsstore/MadisonsStorefrontAssetStore/images/redesignIcons/radio-checked.png) no-repeat !important; opacity: .5; pointer-events: none;}
input.is-checked[type="checkbox"]:checked+label.no-span{opacity: 1; pointer-events: inherit;}
#cart-body .green-button {position: relative;}
#monetate_selectorHTML_65bc7c9e_0 {width:15px;}
/*
	== CSS Loading animation
*/
[data-loader='ball-pulse']{
    position: absolute;
    top: 20px;
    left: 25px;
    width: 1px;
    height: 1px;
}
[data-loader='ball-pulse']:before,
[data-loader='ball-pulse']:after
{
    position: absolute;

    display: inline-block;

    width: 8px;
    height: 8px;

    content: '';

    border-radius: 100%;
    background-color: #fff;
}
[data-loader='ball-pulse']:before
{
    left: -8px;

    -webkit-animation: ball-pulse infinite .75s -.4s cubic-bezier(.2, .68, .18, 1.08);
       -moz-animation: ball-pulse infinite .75s -.4s cubic-bezier(.2, .68, .18, 1.08);
         -o-animation: ball-pulse infinite .75s -.4s cubic-bezier(.2, .68, .18, 1.08);
            animation: ball-pulse infinite .75s -.4s cubic-bezier(.2, .68, .18, 1.08);
}
[data-loader='ball-pulse']:after
{
    right: -8px;

    -webkit-animation: ball-pulse infinite .75s cubic-bezier(.2, .68, .18, 1.08);
       -moz-animation: ball-pulse infinite .75s cubic-bezier(.2, .68, .18, 1.08);
         -o-animation: ball-pulse infinite .75s cubic-bezier(.2, .68, .18, 1.08);
            animation: ball-pulse infinite .75s cubic-bezier(.2, .68, .18, 1.08);
}
@-webkit-keyframes ball-pulse
{
    0%
    {
        transform: scale(1);

        opacity: 1;
    }
    50%
    {
        transform: scale(.1);

        opacity: .6;
    }
    100%
    {
        transform: scale(1);

        opacity: 1;
    }
}
@-moz-keyframes ball-pulse
{
    0%
    {
        transform: scale(1);

        opacity: 1;
    }
    50%
    {
        transform: scale(.1);

        opacity: .6;
    }
    100%
    {
        transform: scale(1);

        opacity: 1;
    }
}
@-o-keyframes ball-pulse
{
    0%
    {
        transform: scale(1);

        opacity: 1;
    }
    50%
    {
        transform: scale(.1);

        opacity: .6;
    }
    100%
    {
        transform: scale(1);

        opacity: 1;
    }
}
@keyframes ball-pulse
{
    0%
    {
        transform: scale(1);

        opacity: 1;
    }
    50%
    {
        transform: scale(.1);

        opacity: .6;
    }
    100%
    {
        transform: scale(1);

        opacity: 1;
    }
}